* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #0080FF;
}
.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	gap: 1vw;
	width: 100vw;
	padding: 100px;
}
h2, p {
	padding: 10px;
	background-color: white;
}
img {
	width: 100%;
}
.column_1 {
	display: flex;
	flex-direction: column;
}
.column_1 > div {
	margin: 0.5vw 0;
	background-color: white;
}
.column_2 {
	display: flex;
	flex-direction: column;
}
.column_2 > div {
	margin: 0.5vw 0;
	background-color: white;
}
.column_3 {
	display: flex;
	flex-direction: column;
}
.column_3 > div {
	margin: 0.5vw 0;
	background-color: white;
}
