.container {
    width: 95%;
    border:  2px solid red;
    margin: 10px auto;
    min-height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.main {
    width: 70%;
    min-height: 50px;
    /* border: 2px solid blue; */
    margin: 5px;
    border-radius: 5px;
}
.add-item {
    width: 30%;
    min-height: 10px;
    /* border: 2px solid silver; */
    margin: 5px;
    border-radius: 5px;
}
#title-item {
    width: 70%;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
}
#btn-add {
    background-color: green;
    border-radius: 5px;
    font-size: 22px;
    margin: 5px;
    padding: 5px;
}
.item {
    text-align: left;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid silver
}
.item label{
    width: 80%;
    font-size: 22px;
}
.delete {
    background-color: red;
    font-size: 22px;
    margin: 5px;
    border-radius: 5px;
}