.App {
  text-align: center;
}

h1{
  color: red;
  font-size: 3rem;
}

textarea {
  border: 2px solid rgb(41, 53, 41);
  background-color: rgb(235, 248, 252);
}

button {
  margin: 10px;
  font-size: 24px;
  background-color: rgb(113, 59, 129);
  border-radius: 5px;
  color: white;
  width: 100px;
}
