* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: rgb(233, 241, 243);
    width: 500px;
    height: 500px;
    margin: 20px auto;
}
.clock{
    border: 1px solid rgb(131, 35, 118);
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
    top: 50px;
    border-radius: 200px;
}
#center {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 4px;
    position: absolute;
    top: 196px;
    left: 196px;
}
#second {
    width: 1px;
    height: 170px;
    background-color: green;
    position: absolute;
    top: 200px;
    left: 200px;
    transform-origin: 0 0;
    transform: rotate(180deg);
	animation: clock_rotate 60s steps(60, end) infinite;
}
#minute {
    width: 2px;
    height: 140px;
    background-color: red;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 201px;
    transform-origin: 0 0;
    transform: rotate(180deg);
    animation: clock_rotate 3600s steps(60, end) infinite;
}
#hour {
    width: 4px;
    height: 100px;
    background-color:blue;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 202px;
    transform-origin: 0 0;
    transform: rotate(180deg);
	animation: clock_rotate_hour 43200s steps(60, end) infinite;
}
@keyframes clock_rotate {
	to {
		transform:rotate(540deg)
	} 
}
@keyframes clock_rotate_hour {
	to {
		transform:rotate(570deg)
	} 
}