* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#main {
    width: 50%;
    margin: 10px auto;
}
#screen{
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px;
    min-height: 400px;
    overflow-y: auto;
    padding: 5px;
}
#footer{
    width: 100%;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}
#massege{
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    font-size: 24px;
    padding: 5px;
    border: 2px solid rgb(77, 75, 75);
}
#name{
   width: 100%;
    margin: 5px;
    border-radius: 5px;
    font-size: 24px;
    padding: 5px;
    border: 2px solid gray; 
}
#send{
    width: 15%;
    margin: 5px;
    border-radius: 5px;
    background-color: green;
    font-size: 24px;
    padding: 5px;
}