<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="row valign-wrapper">
                <div class="col s10">
                    <h1>Edit todo:</h1>
                </div>
                <div class="col s2">
                    <button class="btn waves-effect waves-light deep-orange darken-4" type="button" name="action"
                        (click)="singOut()" [routerLink]="['/','login']">Sing
                        out</button>
                </div>
            </div>
            <div class="col s12">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col s4 center-align">
                    <button class="btn waves-effect waves-light grey darken-4" type="button" name="action"
                        [routerLink]="['/','todos-list']">Go
                        back</button>
                </div>
                <div class="col s4 center-align">
                    <button class="btn waves-effect waves-light deep-orange darken-4" type="button"
                        name="action">Delete</button>
                </div>
                <div class="col s4 center-align">
                    <button class="btn waves-effect waves-light light-blue darken-4" type="button"
                        name="action">Change</button>
                </div>
            </div>
        </div>
    </div>
</div>